/*mobile s*/
@media screen and (min-width:600px) {
    .bg-white2-icon{
        display:inline;
    }
    .spotify-title {
        display: inline;
    }

    .menu ul {
        gap: 15px;
    }

    .menu ul li {
        width: 20%;
    }

    .bg-white-icon {
        display: inline;
        font-size: 0.5rem;
    }

    .playlist-div {
        display: block;
    }

    .app-down {
        display: inline;
    }

    .btn-upgrade {
        margin-left: 300px;
    }

    .cure-fig {
        display: block;
    }

    .sinister-fig {
        display: block;
    }

    .radar-display {
        display: none;
    }

    .mixdaily-display {
        display: none;
    }
}


@media screen and (min-width:700px) {

    .menu ul {
        gap: 0px;
        margin-right: 0px;
    }

    .menu ul li {
        width: 12%;
        flex-basis: 10%;
        text-align: center;
    }


    .evidenza,
    .podcast,
    .classifiche,
    .generi,
    .uscite,
    .scopri {
        
        min-height: 50px;
        width: 13%;
    }

    .recently-played {
        display: flex;
        flex-direction: row;
        flex-wrap: wrap;
        gap: 10px;
        padding: 16px;
        justify-content: flex-start;
    }

    .heavy-metal,
    .stranger-things,
    .quiet-place,
    .split,
    .wellnes,
    .sinister {

        min-height: 200px;
        width: 20%;

    }

    .ascolti {
        display: flex;
        justify-content: center;
        gap: 20px;

    }

    .john-title {
        display: block;
    }

    .john-title-doe {
        display: block;
    }

    .p-john-title {
        display: block;
    }

    .img1,
    .img2 {
        min-height: 200px;
        width: 40%;
    }

}

@media screen and (min-width:1100px) {
    .menu {
        gap: 15px;
        justify-content: center;
    }
    .menu ul li{
        font-size:0.7rem;
    }
     .btn-upgrade {
        margin-left: 705px;
    }

    .evidenza,
    .podcast,
    .classifiche,
    .generi,
    .uscite,
    .scopri {
        
        min-height: 50px;
        width: 10%;
    }

    .heavy-metal,
    .stranger-things,
    .quiet-place,
    .split,
    .wellnes,
    .sinister {

        min-height: 200px;
        width: 15%;

    }

    .ascolti {
        display: flex;
        justify-content: flex-start;
        gap: 20px;

    }

    .img1,
    .img2 {

        min-height: 200px;
        width: 20%;
    }

    .radar-display {
        display: block;
    }

    .mixdaily-display {
        display: block;
    }
    .artist-title{
        display:block;
        color:white;
    }

    .riquadri2{
    display:block;
}



}

