* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}


.wrapper {
    width: 100%;
    height: calc(100vh - 100px);
    display: flex;
}


.sidebar {
    width: 20%;
    background-color: black;
    overflow-y: auto;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}

.spotify-title {
    display: none;
    color: white;
    font-size: 1.2rem;
}

.fa-house {
    color: white;


}

.icone .fa-house {
    border-left: 4px solid greenyellow;
    padding-left: 8px;
    margin: 1px;
}



i {
    color: gray;
    margin: 10px;
}

.fa-arrow-down {

    color: white;
    font-size: 8px;
}

.fa-circle-user {
    color: white;
    font-size: 10px;
}

.bg-white-icon {
    color: white;
    margin-left: 3px;
    font-size: 0.4rem;
    white-space: nowrap;
    display: none;
}


.bg-white2-icon {
    display: none;
    color: white;
    white-space: nowrap;
    font-size: 0.6rem;

}

.bg-gray-icon-sidebar {
    color: gray;
    font-size: 0.5rem;
    white-space: nowrap;
}

.playlist-div {
    display: none;
}


.main {
    background-color: black;
    width: 80%;
    display: flex;
    flex-direction: column;
    overflow-y: scroll;
}


header {
    flex-grow: 0;
    flex-shrink: 0;
    flex-basis: auto;
}

.header1 {
    background-color: black;
    width: 100%;
    min-height: 80px;
    display: flex;
    justify-content: flex-end;
}

.btn-upgrade {
    text-decoration: none;
    color: white;
    background-color: black;
    border: 1px solid white;
    border-radius: 20px;
    font-size: 0.5rem;
    margin-top: 50px;
    margin-left: 200px;
    padding: 14px;
    padding-right: 10px;
    padding-left: 10px;
    display: inline-block;
    cursor: pointer;
}

.btn-upgrade:hover {
    transform: translateY(-5px) scale(1.05);
}

.playlist-title {
    color: white;
    font-size: 0.8rem;
}

.playlist-btn {
    background-color: gray;
}

.fa-plus {
    color: black;
}

.playlist-span {
    color: gray;
    font-size: 0.8rem;
    white-space: nowrap;
}

.lista-playlist {
    margin-left: 4px;
    padding-left: 4px;
}

.lista-playlist li:hover {
    color: white;
    cursor: pointer;
}

.lista-playlist li {
    color: gray;
    font-size: 0.6rem;
    list-style: none;
    margin-bottom: 10px;

}

.icone:hover {
    color: white;
}

.app-down {
    color: gray;
    margin-left: 3px;
    font-size: 0.4rem;
    white-space: nowrap;
    display: none;
}




.menu ul {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    gap: 10px;
    list-style: none;
    margin-right: 0px;
}

.menu ul li {
    flex: 0 0 calc(22%);
    padding: 0px;
    font-size: 0.8rem;
    color: gray;
    white-space: nowrap;
    text-align: center;
}

.menu ul li:hover {
    color: white;
    cursor: pointer;
}

.underline {
    display: block;
    width: 20px;
    height: 2px;
    background-color: greenyellow;
    margin-top: 4px;
    margin-left: 15px;
    text-align: center;
}

.bg-gray {
    color: gray;
    font-size: 0.7rem;
    white-space: nowrap;
}

.bg-gray-stranger {
    color: gray;
    font-size: 0.5rem;
    white-space: nowrap;
}

.bg-white-card {
    color: white;
    font-size: 1rem;
}





.evidenza,
.podcast,
.classifiche,
.generi,
.uscite,
.scopri {
    min-height: 50px;
    width: 25%;
}

.title-played {
    color: white;
    font-size: 1.5rem;
    margin-top: 10px;
    margin-bottom: 10px;
}

.recently-played {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    gap: 10px;
    padding: 16px;
    justify-content: center;
}

.heavy-metal,
.stranger-things,
.quiet-place,
.split,
.wellnes,
.sinister {

    min-height: 200px;
    width: 40%;

}

figure {
    margin: 0;
    padding: 0;
}

figcaption {
    text-align: center;
}

.heavy-metal img {
    width: 100%;
    height: 100%;
    object-fit: cover;
    margin: 0;
    padding: 0;
}

.stranger-things img {
    width: 100%;
    height: 100%;
    object-fit: cover;
}

img {
    width: 100%;
    height: 100%;
    object-fit: cover;
}

.cure-fig {
    display: none;
}

.sinister-fig {
    display: none;
}


.john-title {
    color: white;
    display: none;
    width: 100%;
    font-size: 1rem;
    margin-top: 10px;
    margin-bottom: 10px;
}

.p-john-title {
    display: none;
    color: gray;
    font-size: 0.7rem;
}

.ascolti {
    display: flex;
    justify-content: center;
    flex-direction: row;
    gap: 5px;
    display: none;
}

.img1,
.img2 {
    min-height: 200px;
    width: 40%;
}

.radar-display {
    display: none;
    color: white;
    font-size: 0.8rem;
}

.mixdaily-display {
    display: none;
    color: white;
    font-size: 0.8rem;
}

.artist-title {
    min-height: 80px;
    width: 100%;
    margin-top: 10px;
    margin-bottom: 10px;
    display: none;
}

.p-artist-title {
    color: gray;
    font-size: 0.7rem;
}

.riquadri2 {
    display: none;
}

.riquadri {
    display: flex;
    justify-content: flex-start;
    gap: 10px;
}

.young-img,
.einaudi-img {

    width: 120px;
    height: 120px;
    border-radius: 50%;
    object-fit: cover;
    border: 2px solid #fff;
}

.radius-img {
    color: white;
    font-size: 1rem;
}

footer {
    width: 100%;
    height: 100px;
    background-color: lightgray;
    z-index: 9999;
    padding-top: 20px;
    padding-left: 20px;


}

.figure-footer {
    display: inline-block;
}

.img-text {
    display: flex;
    align-items: center;
    gap: 5px;
}

.footer-sinister {
    width: 40px;
    height: auto;
}

.text-group {
    display: flex;
    flex-direction: column;

}

.sinister-title-footer {
    font-size: 10px;
    font-weight: bold;
}

.text-group figcaption {
    font-size: 8px;
    color: gray;
    margin-top: 2px;
}

.menu-container {
    display: flex;
    justify-content: space-between;
}

.fa-backward-step,
.fa-circle-play,
.fa-forward-step,
.fa-rotate-right {
    color: white;
    cursor: pointer;
}

.fa-backward-step,
.fa-circle-play,
.fa-forward-step,
.fa-rotate-right:hover {}

.play-container {
    width: 100%;
    height: 10px;
    background-color: black;
    border-radius: 10px;
    padding: 2px;


}

.play-bar {
    width: 100%;
    height: 10px;
}

.play-level {
    width: 50%;
    height: 100%;
    background-color: gray;

}

.fa-heart {
    margin-left: 30px;
}

.fa-bars-staggered {
    color: white;
    font-size: 0.6rem;
    cursor: pointer;
}

.fa-tv {
    color: white;
    font-size: 0.6rem;
    cursor: pointer;
}



.left-menu {
    width: 200px;
}

.center-menu {
    width: 250px;
    text-align: center;
}

.right-menu {
    width: 200px;
    display: flex;
    align-items: center;
    gap: 5px;
    flex-shrink: 0;
}

.volume-container {
    flex-shrink: 0;
    width: 30%;
    height: 10px;
    background-color: black;
    border-radius: 10px;
    padding: 2px;
    display: flex;
    align-items: center;

}

.fa-volume-low {
    font-size: 1.2rem;
    color: gray;
    cursor: pointer;
}

.volume-bar {
    width: 100%;
    height: 100%;
}

.volume-level {
    width: 25%;
    height: 100%;
    background-color: gray;
}



/*Gli hover*/

.heavy-metal {
    position: relative;

}

.heavy-metal .fa-circle-play {
    position: absolute;
    top: 30%;
    left: 50%;
    transform: translate(-50%, -50%);
    color: white;
    font-size: 3rem;
    opacity: 0;
}


.heavy-metal:hover .fa-circle-play {
    opacity: 1;
}



.stranger-things {
    position: relative;

}

.stranger-things .fa-circle-play {
    position: absolute;
    top: 30%;
    left: 50%;
    transform: translate(-50%, -50%);
    color: white;
    font-size: 3rem;
    opacity: 0;
}


.stranger-things:hover .fa-circle-play {
    opacity: 1;
}



.quiet-place {
    position: relative;

}

.quiet-place .fa-circle-play {
    position: absolute;
    top: 30%;
    left: 50%;
    transform: translate(-50%, -50%);
    color: white;
    font-size: 3rem;
    opacity: 0;
}


.quiet-place:hover .fa-circle-play {
    opacity: 1;
}




.split {
    position: relative;

}

.split .fa-circle-play {
    position: absolute;
    top: 30%;
    left: 50%;
    transform: translate(-50%, -50%);
    color: white;
    font-size: 3rem;
    opacity: 0;
}


.split:hover .fa-circle-play {
    opacity: 1;
}



.wellnes {
    position: relative;

}

.wellnes .fa-circle-play {
    position: absolute;
    top: 30%;
    left: 50%;
    transform: translate(-50%, -50%);
    color: white;
    font-size: 3rem;
    opacity: 0;
}


.wellnes:hover .fa-circle-play {
    opacity: 1;
}



.sinister {
    position: relative;


}

.sinister .fa-circle-play {
    position: absolute;
    top: 30%;
    left: 50%;
    transform: translate(-50%, -50%);
    color: white;
    font-size: 3rem;
    opacity: 0;
}


.sinister:hover .fa-circle-play {
    opacity: 1;
}




.bg-gray-icon-sidebar:hover {
    color: white;
    cursor: pointer;
}