.wrapper {
    width: 100%;
    height: calc(100vh - 100px);
    display: flex;
}


.sidebar {
    width: 20%;
    background-color: black;
    overflow-y: auto;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}

i{
    color:white;
    margin:10px;
}
.fa-arrow-down{
    
    color:white;
    font-size:8px;
}
.fa-circle-user{
    color:white;
    font-size:10px;
}
.bg-white-icon{
    color:white;
    margin-left:3px;
    font-size:0.4rem;
    white-space: nowrap;
    display:none;
}
.playlist-div{
    display: none;
}


.main {
    background-color: black;
    width:80%;
    display: flex;
    flex-direction: column;
    overflow-y: scroll;
}


header {
    flex-grow: 0;
    flex-shrink: 0;
    flex-basis: auto;
}

.header1 {
    background-color: black;
    width: 100%;
    min-height: 80px;
}

.btn-upgrade{
    color:white;
    background-color: black;
    border:1px solid white;
    border-radius: 20px;
    font-size:0.5rem;
    margin-top:50px;
    margin-left:200px;
    padding:14px;
    display: inline-block;
}
.playlist-title{
    color:white;
    font-size:0.8rem;
}
.playlist-btn{
    background-color: gray;
}
.fa-plus{
    color:black;
}
.playlist-span{
    color:white;
    font-size:0.8rem;
    white-space: nowrap;
}
.lista-playlist{
    margin-left: 4px;
  padding-left: 0;
}
.lista-playlist li{
    color:gray;
    font-size:0.6rem;
    list-style: none;
    margin-bottom:10px;

}
.app-down{
    color:gray;
     margin-left:3px;
    font-size:0.4rem;
    white-space: nowrap;
    display:none;
}




.menu ul {
    display: flex;
    flex-wrap: wrap;       
    justify-content: center;
    gap: 5px;
    list-style: none;
    margin-right:20px;
}

.menu ul li {
    width:10%;
    padding: 16px;
    font-size: 0.5rem;
    color: gray;
    white-space: nowrap;
}

.bg-gray {
    color: gray;
    font-size: 0.7rem;
    white-space: nowrap;
}

.bg-white-card {
    color: white;
    font-size: 1rem;
}





.evidenza,
.podcast,
.classifiche,
.generi,
.uscite,
.scopri {
    background-color: red;
    min-height: 50px;
    width: 25%;
}

.title-played {
    color:white;
    font-size:1rem;
    margin-top: 10px;
    margin-bottom: 10px;
}

.recently-played {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    gap: 10px;
    padding: 16px;
    justify-content: center;
}

.heavy-metal,
.stranger-things,
.quiet-place,
.split,
.wellnes,
.sinister {
    
    min-height:200px;
    width: 40%;

}
figure{
    margin:0;
    padding:0;
}
figcaption {
    text-align: center;
}
.heavy-metal img {
    width: 100%;
    height: 100%;
    object-fit: cover;
    margin:0;
    padding:0;
}
.stranger-things img {
    width: 100%;
    height: 100%;
    object-fit: cover;
}
img{
    width: 100%;
    height: 100%;
    object-fit: cover;
}
.cure-fig{
    display:none;
}
.sinister-fig{
    display:none;
}


.john-title {
    display:none;
    background-color: blue;
    min-height: 80px;
    width: 100%;
    margin-top: 10px;
    margin-bottom: 10px;
}

.ascolti {
    display: flex;
    justify-content: center;
    flex-direction: row;
    gap: 5px;
    display: none;
}

.img1,
.img2 {
    background-color: green;
    min-height: 200px;
   width: 40%;
}

.artist-title {
    background-color: blue;
    min-height: 80px;
    width: 100%;
    margin-top: 10px;
   margin-bottom: 10px;
    display:none;
}

.riquadri {
    display: flex;
    justify-content: center;
    gap: 20px;
    display: none;
}

.riq-radius,
.riq2-radius {
    background-color: green;
    min-height: 200px;
    width: 40%;
    border-radius: 100%;
}


footer {
    width: 100%;
    height: 100px;
    background-color: lightgray;
    z-index: 9999;
}